.Deck {
  position: fixed;
  left: 15px;
  top: 15px;
  height: 50px;
  width: 75px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  color: #50e5cd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 5;
  background-color: #272727;
  border-radius: 3px;
}

.clear {
  position: fixed;
  left: 15px;
  top: 70px;
  height: 25px;
  width: 75px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  color: #529f9361;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 5;
  background-color: #272727;
  border-radius: 3px;
  margin-top: 5px;
  transition: color 0.2s;
}

.clear:hover {
  cursor: pointer;
  background-color: #2f2f2f;
  color: #50e5cd;
}

.Deck:hover {
  cursor: pointer;
  background-color: #2f2f2f;
}

.Shuffle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 7px;
  color: #50e5cd;
  background-color: #272727;
  position: fixed;
  left: 100px;
  top: 62px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  z-index: 5;
}

.Shuffle:hover {
  background-color: #2f2f2f;
  cursor: pointer;
}

.Refresh {
  top: 15px;
}
